{% extends 'base.html' %}

{% block title %}
Create a new format.
{% endblock %}

{% block customstyle %}
<style>
    .yaml-example {
        background-color: #f8f9fa; /* Light gray background */
        border: 1px solid #ccc; /* Gray border */
        padding: 15px; /* Some padding */
        font-family: monospace; /* Monospaced font */
        white-space: pre-wrap; /* Preserve whitespace and wrapping */
    }
</style>
{% endblock %}


{% block maincontent %}
<h1>Submit Text</h1>

<div class="yaml-example">
    <pre>
name: Basic CRM
description: Describe the set of tables.
tables:
- name: People
  description: A list of people that I know. Every row is a unique person.
  columns: 
    - name: name
      description: full name of the person
    - name: preferredname 
      description: the name this person prefers. 
    - name: address
      description: last known address for this person

- name: People Facts
  description: A list of facts about people.
  columns: 
    - name: person
      description: A person in the People table.
    - name: fact 
      description: A single statement about this person. May include preferences, job history, problems they talked about. 

- name: Companies
  description: A list of companies that I know.
  columns: 
    - name: name
      description: full name of the person
    - name: address
      description: last known address for this person
    
    - name: People Facts
      description: A list of facts about people.
    </pre>
</div>

<form method="post">
    {% csrf_token %}
    <label for="{{ form.content.id_for_label }}">{{ form.content.label }}</label>
    <br>
    {{ form.content }}
    <button type="submit">Submit</button>
</form>
{% endblock %}


