# crawl and parse
feedparser
requests
bs4
lxml
json_repair
pypdf

# storage related
python-dotenv
azure-storage-blob>=12.9.0
azure-storage-queue
azure-cosmos
azure-keyvault
azure-identity

# openai tools
openai>=1.1.1
tiktoken

# embeddings
sentence-transformers

# specific tools
wikipedia

# website
django>=5.0
rq>=1.15
django-rq>=2.9
django-cors-headers>=4.3.1
sentry_sdk
django-ninja>=1.0.1

psycopg2-binary
pgvector
gunicorn
whitenoise

markdown
pdfminer.six

stripe

# debugging
ipdb

# test
pytest
pytest-django
mixer
