@keyframes clickScale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05); // Scales up 10%
    }
    100% {
      transform: scale(1);
    }
}


@keyframes rotateOutY {
  from {
    transform: rotateY(0);
    opacity: 1;
  }
  to {
    transform: rotateY(90deg);
    opacity: 0;
  }
}

@keyframes rotateInY {
  from {
    transform: rotateY(90deg);
    opacity: 0;
  }
  to {
    transform: rotateY(0);
    opacity: 1;
  }
}