body {
    background: #{$backgroundColor};
    height: auto;
    min-height: calc(100vh - 100px);
    font-family: "Lexend";
    //font-weight: bold;
    margin: 0;
    padding: 1rem;
    flex-direction: column;
}

div.main-content {
    min-height: calc(100vh - 90px);
    flex: 1;
}

.footer {
    padding-top: 10px; // Adjust padding as needed
    text-align: center; // Centers the link
    height: 25px;
    overflow: hidden;
    margin-top: auto;
}

.buttonWrap {
    display: flex;
    justify-content: center;
}

button.standard {
    background-color: #{$accentColor}; // Example blue color
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: darken($accentColor, 10%);; // Darken the button on hover
    }
}

div.loading-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center; /* Center horizontally */
}

img.loading-image {
    width: 250px;
    margin-bottom: 20px;
}