body {
    background: #{$backgroundColor};
    height: auto;
    min-height: calc(100vh - 100px);
    font-family: "Lexend";
    //font-weight: bold;
    margin: 0;
    padding: 1rem;
    flex-direction: column;
}

div.main-content {
    min-height: calc(100vh - 90px);
    flex: 1;
}

.footer {
    padding-top: 10px; // Adjust padding as needed
    text-align: center; // Centers the link
    height: 25px;
    overflow: hidden;
    margin-top: auto;
}


input.standard {
    background-color: #fff; 
    color: #333; 
    border: 2px solid #{$accentColor}; 
    padding: 8px 16px; 
    margin: 10px 0;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;

    &:focus {
        border-color: darken($accentColor, 10%); /* Darken border on focus, matching the button hover state */
        box-shadow: 0 0 0 2px rgba($accentColor, 0.2); /* Subtle glow effect for focus, using the accent color */
    }

    &:hover {
        border-color: darken($accentColor, 5%); /* Slightly darken border on hover for an interactive feel */
    }
}

label.standard {
    font-size: 12px;
    font-weight: 600;
    color: #333;
    display: block;
}

div.loading-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center; /* Center horizontally */
}

img.loading-image {
    width: 250px;
    margin-bottom: 20px;
}