.quiz-grade-correct {
    padding-top: 10px;
    padding-bottom: 15px;
}


.quizQuestion {
    //border: 2px solid #666565; // Box around the quiz question
    display: flex;
    align-items: flex-start;
    //margin-bottom: 20px;
    //background-color: #f8f8f8; // Optional: background color for the box

    // Class to apply for the animation
    .animate-click {
        animation: clickScale 0.3s ease forwards;
    }

    .quiz-index {
        width: 30px;
        display: inline-block;
    }

    .quizQuestionContent {
        display:flex;
        flex-direction: column;
        margin-left: 10px;
    }
    
    p {
        margin-bottom: 10px; // Space between question and answers
    }

    .quizAnswerAnswered {
        background-color: #efefef;
        color: #0000007d;
        border: 1px solid #000000;
        padding: 10px;
        cursor: pointer; // Change cursor to indicate clickable

        &.selected-correct {
            border: 1px solid #{$vividGreen};
            color: #333333;
            background-color: #{$greenColor}; // Soft green for correct answer            
        }

        &.selected-incorrect {
            border: 1px solid #{$vividRed};
            color: white;
            background-color: #{$redColor}; // Light red for incorrect answer
        }
    }
      

    .rotate-in-y {
        animation: rotateInY 0.5s forwards; /* Adjust duration as needed */
    }

    .rotate-in-y-slow {
        animation: rotateInY 0.75s forwards; /* Adjust duration as needed */
    }
    

    .rotate-out-y {
        animation: rotateOutY 0.25s forwards; /* Adjust duration as needed */
    }

    .quizAnswer {
        border: 1px solid #{$accentColor}; // Border for each answer
        padding: 10px;
        color: #4741de;
        margin-bottom: 5px; // Space between each answer
        cursor: pointer; // Change cursor to indicate clickable
        transition: background-color 0.3s; // Smooth transition for background color

        &:hover {
            background-color: #e8e8e8; // Optional: change background on hover
        }

        &.selected {
            background-color: #{$accentColor}; 
            color: #fff;
        }

    }
}

