body {
    background: #fff;
    width: 300px;
    height: auto;
    font-family: "Montserrat";
    margin: 0;
    padding: 1rem;
    .quizQuestion {
        border: 2px solid #000; // Box around the quiz question
        padding: 15px;
        margin-bottom: 20px;
        background-color: #f8f8f8; // Optional: background color for the box
    
        p {
            margin-bottom: 10px; // Space between question and answers
        }
    
        .quizAnswer {
            border: 1px solid #ccc; // Border for each answer
            padding: 10px;
            margin-bottom: 5px; // Space between each answer
            cursor: pointer; // Change cursor to indicate clickable
            transition: background-color 0.3s; // Smooth transition for background color
    
            &:hover {
                background-color: #e8e8e8; // Optional: change background on hover
            }
    
            &.selected {
                background-color: red; // Highlight for selected answer
                color: #fff; // Change text color for better readability
            }

            &.selected-correct {
                background-color: green;
            }

            &.selected-incorrect {
                background-color: red;
                color: #fff;
            }
        }
    }
    
}
