<form id="feedback-form" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="feedback">
            <p>Feel free to share your thoughts here or by email.</p>
            <p>The most important thing for me to understand is value: is this something that helps? What's great? What's missing the mark?</p>
        </label>
        <textarea class="form-control" id="form-feedback" name="feedback" rows="4"></textarea>
        <label for="name">Who are you?</label>
        <input type="text" id="form-name" name="name"></input>
        <input type="hidden" id="form-share" name="share_link" value="{{share_link}}"></input>

    </div>
    <!-- Add any additional fields and customization as needed -->
    <button id="feedback-submit" type="button" class="btn btn-primary" onclick="feedbackFormSubmit()">Submit Feedback</button>
</form>

<script>
    function feedbackFormSubmit() {
        const feedback = document.getElementById("form-feedback").value;
        const name = document.getElementById("form-name").value;
        const shareLink = document.getElementById("form-share").value;

        const formData = new FormData();
        formData.append("feedback", feedback);
        formData.append("name", name);
        formData.append("share_link", shareLink);

        fetch("{% url 'feedback_submit' %}", {
            method: "POST",
            body: formData,
            headers: {
                "X-CSRFToken": getCookie("csrftoken")
            }
        })
        .then(response => {
            if (response.ok) {
                // You can redirect or perform other actions here if needed
                const feedbackSubmitButton = document.getElementById("feedback-submit");
                feedbackSubmitButton.innerText = "Thanks!"
            } else {
                //alert("Failed to submit feedback. Please try again.");
            }
        })
        .catch(error => {
            //alert("An error occurred while submitting feedback.");
        });
    }
</script>