{% extends "base.html" %}

{% block title %}
{{ doc_cluster.get_title }}
{% endblock %}

{% block customjs %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const reprocessButton = document.getElementById("js-reprocess");
    
        reprocessButton.addEventListener("click", function() {
            // Make an AJAX request to the reprocess URL
            fetch("{% url 'doc_cluster_reprocess' doc_cluster.id %}", {
                method: "POST", 
                body: JSON.stringify({}),
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": getCookie("csrftoken")
                },
            })
            .then(data => {
                location.reload();
            })
            .catch(error => {
                // Handle errors, if necessary
            });
        });
    });

    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) {
            return parts.pop().split(";").shift();
        }
    }
</script>
{% endblock %}

{% block leftnavcontent %}
<li class="nav-item">
    <a class="nav-link active" 
    href="{% url 'proposal_list' %}">Proposals</a>
</li>
{% endblock %}

{% block maincontent %}
    <header>
        <h1>{{ doc_cluster.get_title }}</h1>
    </header>
    <main>
        <div class="content">
            <a href="#">Original document</a> <!-- use https://github.com/coolwanglu/pdf2htmlEX -->
            <a href="{% url 'doc_cluster_raw' doc_cluster.id %}">Text Extraction details</a>
        <h2>List of Documents:</h2>
        {% for extract in doc_cluster.documentfile_set.all %}
            <p>{{ extract.file_role }}: {{ extract.doc_name }} - Processing status is {{ extract.processing_status }}</p>

            {% if 'longsummary' in prompts %}
                <h3>Longer Summary:</h3>
                <p>{{ prompts.longsummary.as_html | safe }}</p>
            {% else %}
                <p>Processing....</p>
            {% endif %}

            {% if 'peoplesummary' in prompts %}
                <h3>People:</h3>
                <p>{{ prompts.peoplesummary.as_html | safe }}</p>
            {% else %}
                <p>People Processing....</p>
            {% endif %}

            {% if 'proposalquestions' in prompts %}
                <h3>Questions:</h3>
                <p>{{ prompts.proposalquestions.as_html | safe }}</p>
            {% else %}
                <p>Questions Processing....</p>
            {% endif %}

        {% empty %}
            <p>No extracts available</p>
        {% endfor %}

        <div>All Values:</div>

        <button id="js-reprocess" class="btn btn-primary">Reprocess everything</button>

        {% for prompt in all_prompts %}
            <h3>{{ prompt.output_role }}</h3>
            <p>ID: {{ prompt.id }}</p>
            <p>{{ prompt.as_html | safe }}</p>
        {% endfor %}

    </div>
    </main>
{% endblock %}