{% extends "base.html" %}

{% block title %}
{{ doc_cluster.get_title }}
{% endblock %}

{% block customjs %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const reprocessButton = document.getElementById("js-reprocess");
    
        reprocessButton.addEventListener("click", function() {
            // Make an AJAX request to the reprocess URL
            fetch("{% url 'doc_cluster_reprocess' doc_cluster.id %}", {
                method: "POST", 
                body: JSON.stringify({}),
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": getCookie("csrftoken")
                },
            })
            .then(data => {
                location.reload();
            })
            .catch(error => {
                // Handle errors, if necessary
            });
        });

        /** Set up share link */
        
        document.getElementById('create-share-link').addEventListener('click', function() {
            fetch("{% url 'doc_cluster_share' doc_cluster.id %}", {
                method: 'POST', // or 'GET', depending on your server setup
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": getCookie("csrftoken")
                },
            })
            .then(response => response.json())
            .then(data => {
                // Display the share URL
                document.getElementById('shareUrl').textContent = data.share;
                document.getElementById('shareLink').style.display = 'block';
                document.getElementById('copyButton').style.display = 'inline-block';
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });

        document.getElementById('copyButton').addEventListener('click', function() {
            const shareUrl = document.getElementById('shareUrl').textContent;
            navigator.clipboard.writeText(shareUrl).then(() => {
                // todo swap btn to a thumbs up
            });
        });

    });

    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) {
            return parts.pop().split(";").shift();
        }
    }

</script>
{% endblock %}

{% block leftnavcontent %}
<li class="nav-item">
    <a class="nav-link active" 
    href="{% url 'rfp_list' %}">RFPs</a>
</li>
{% endblock %}

{% block maincontent %}
    <header>
        <h1>{{ doc_cluster.get_title }}</h1>
    </header>
    <main>
        <h2>Your Details</h2>
        {% if not feedback %}
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#shareModal">
                Create Share Link
            </button>
        {% endif %}

        {% for extract in doc_cluster.documentfile_set.all %}
            <br/>
            <span>{{ extract.file_role }}: <a href="{% url 'doc_file_original' extract.id %}" target="_blank" rel="noopener noreferrer">{{ extract.doc_name }}</a> - Processing status is {{ extract.processing_status }}</span>
            {% if not feedback %}
                <br>
                <a href="{% url 'doc_file_raw' extract.id %}" target="_blank" rel="noopener noreferrer">Text Extraction details</a>
            {% endif %}
            <hr>
        {% endfor %}

        {% if not feedback %}
            <p>
                <a href="#">Upload another doc for this RFP</a>
            </p>
        {% endif %}

        <hr>

        <div class="accordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Short Summary
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        {% if 'shortsummary' in prompts %}
                            <p>{{ prompts.shortsummary.as_html | safe }}</p>
                        {% else %}
                            <p>Processing....</p>
                        {% endif %}
                    </div> 
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                        Specific Dates
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        {% if 'specific_dates' in prompts %}
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in prompts.specific_dates.as_object %}
                                        <tr>
                                            <td>{{ item.0 }}</td>
                                            <td>{{ item.1 }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        Longer Summary
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        {% if 'longsummary' in prompts %}
                            <p>{{ prompts.longsummary.as_html | safe }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                        Required Expertise
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        {% if 'expertise' in prompts %}
                            {{ prompts.expertise.as_object | safe }}
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                        Required certifications
                    </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        {% if 'certifications' in prompts %}
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Requirement</th>
                                    <th>Source</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in prompts.req_details.as_object %}
                                    <tr>
                                        <td>{{ item.req }}</td>
                                        <td>{{ item.section }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSix">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                        Key Requirements
                    </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        {% if 'req_details' in prompts %}
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Requirement</th>
                                    <th>Source</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in prompts.req_details.as_object %}
                                    <tr>
                                        <td>{{ item.req }}</td>
                                        <td>{{ item.section }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        
        {% if feedback %}
            {% include "privateuploads/_feedback_form.html" %}
        {% else %}
            <button id="js-reprocess" class="btn btn-primary">Reprocess everything</button>

            <div class="accordion">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingBottom">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBottom" aria-expanded="false" aria-controls="collapseBottom">
                            Raw Prompt Responses
                        </button>
                    </h2>
                    <div id="collapseBottom" class="accordion-collapse collapse" aria-labelledby="headingBottom" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            {% for prompt in all_prompts %}
                                <h3>{{ prompt.output_role }}</h3>
                                <p>ID: {{ prompt.id }}</p>
                                <p>{{ prompt.as_html | safe }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="shareModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create Share Link</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div id='share-modal-body' class="modal-body">
                        <p id="shareMessage">Click create to make a unique link. Anyone who clicks it will have read-only access to this page.</p>
                        <div id="shareLink" style="display:none;">
                            Link: 
                            <div id="shareUrl" class="truncate-textbox">
                                <!-- Your dynamic text goes here -->
                            </div>
                            <button id="copyButton" style="display:none;" class="btn btn-primary">Click to Copy</button>
                        </div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondar" data-bs-dismiss="modal">Close</button>
                    <button id='create-share-link' type="button" class="btn btn-primary">Create</button>
                    </div>
                </div>
                </div>
            </div>
        {% endif %}
    </main>


    <style>
        .truncate-textbox {
            max-width: 80%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
{% endblock %}