{% extends "base.html" %}

{% block title %}
Your RFPs
{% endblock %}

{% block maincontent %}
<header>
    <h1>Your RFPs</h1>
</header>
<main>
    <div>upload button herre.</div>
    <hr/>

    <ul>
        {% for object in doc_cluster_list %}
            <li>
                <a href="{% url 'doc_cluster_detail' object.id %}">{{ object.get_title }}</a>
                <a href="{% url 'doc_cluster_delete' object.id %}">delete</a>
            </li>
            <!-- Add more details as needed -->
        {% empty %}
            <li>None found.</li>
        {% endfor %}
    </ul>
</main>
{% endblock %}
