<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lexend:wght@400&display=swap" rel="stylesheet">
<style>
    body {
        height: 100%;
        margin: 0;
    }

    html, body {
        font-family: "Lexend";
        color: #333;
        background-color: #fffef3;
        padding: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    a {
        color: inherit; /* blue colors for links too */
        text-decoration: inherit; /* no underline */
    }

    h1, h2, h3, .cta-button {
        color: #140d4f;
    }

    h1 {
        font-size: 75px;
    }

    p.tagline {
        font-size: 20px;
    }

    .content-wrap {
        flex: 1;
    }

    .hero {
        text-align: center;
        padding: 50px 20px;
    }

    .cta-button {
        display: inline-block;
        background-color: #140d4f;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    .cta-button:hover {
        background-color: #372f89; /* Lighten the accent color on hover */
    }

    .features, .how-it-works {
        display: flex;
        justify-content: space-around;
        padding: 20px;
    }

    .features .feature, .how-it-works .step {
        flex-basis: 30%;
    }

    .testimonials {
        background-color: #f0eef9; /* A lighter shade for the testimonials section */
        padding: 20px;
        text-align: center;
    }

    footer {
        background-color: #140d4f;
        color: white;
        text-align: center;
        padding: 10px;
        margin-top: 20px;
    }

    div.container {
        width: 50%;
        max-width: 1240px;
        margin-left: 25%;
    }

</style>